* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  color: rgb(187, 186, 186);
  background-color: #374151;
}

#header_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#links_div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.links_div {
  padding: 15px 40px 0px 20px;
  gap: 40px;
}

.header_links:hover {
  color: white;
  padding: 5px 10px 5px 10px;
  background-color: #5b7194;
  border-radius: 12px;
  cursor: pointer;
}

.links_div1 {
  padding: 15px 0px 0px 30px;
  gap: 20px;
}

a {
  list-style: none;
  text-decoration: none;
  color: #a6b0c2;
}

.myName {
  color: antiquewhite;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media (min-width: 0px) and (max-width: 965px) {
  #header_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
